*{
    font-family:Georgia, 'Times New Roman', Times, fantasy;
}

body{
    background-color:#007991 !important;
    height: 95vh;
}

.warn{
    margin-bottom: 0;
    font-size: 1.2em;
}

a{
    margin: 1em auto;
    color: #e9d985 !important;
 }

 a:hover{
    margin: 1em auto;
    font-style: italic;
    color: #bcd8c1 !important;
    padding-left: 0.6em;
}

h2{ 
    text-align: center;
    margin-bottom: 0.5em !important;
    color:#e9d985;
}

form>p{
    color: #e9d985;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1.25em;

}

form{
    padding: 1em;
}
.text{
    height: 2em;
    border-radius: 0.5em;
    padding: 0.25em;
    border: solid thin #aaa;
    width: 100%;
    margin: 0.6em auto;
}

#button{
    padding: 0.6em;
    width: 50%;
    border-radius: 0.5em;
    color: white;
    background-color: #007991;
    border: none;
    margin: 1em auto;
    display: block;
    font-size: large;
}

#button:hover{
    background-color: #bcd8c1;
    color: #222E50;
}

#box{
    background-color: #222E50;
    margin: 1em auto;
    width: 30%;
    border-radius: 0.5em;
    padding: 1em; 
}

.username_info, .password_info {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8em;
    border-radius: 50%;
    margin-left: 0.4em;
    padding: 0.13em 0.2em 0.09em 0.2em;
    color: #e9d985;
    border: 1px solid;
    text-decoration: none; 
}

.username_info:hover ,.password_info:hover{
    color: red;
}

.username_info:hover~.test, .password_info:hover~.test2{
    visibility: visible;
}

.test, .test2{  
    width: 12.5em;  
    display: inline;
    visibility: hidden;
    position: absolute;
    font-size: small;
    padding: 0.6em;
    background: linear-gradient(135deg, rgba(233,217,133,0.7), rgba(233,217,133,0.6));
    backdrop-filter: blur(0.6em);
    -webkit-backdrop-filter: blur(0.6em);
    border-radius: 0.6em;
    border: 0.1em solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0.5em 2em 0 rgba(0,0,0,0.37);
    color: navy;
}