header {
    background-color:#222E50;
    text-align: center;
    padding: 20px 0px 10px 20px;
    border-radius: 30px;
}

.header-main {
    display: flex;
}

.header-icon {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.header-icon img {
    width: 100px;
    border-radius: 50%;
}

.header-title h1 {
    font-size: 82px;
    font-family: Impact;
    color: #E9D985;
    margin: 0;
    text-decoration: overline;
    padding-left: 20px;
}
.userinfo{
    display:grid;
    justify-content: left;
}
.logged-in h1{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times;
    color: #E9D985;
}
.sign-out{
    justify-self: right;
}
.sign-out a:link {
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times;
    color:#fff;
}